*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 910px;
    background-color: #fff;
}

.form-main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 1rem 1rem 1rem;
}

.form-header {
    padding: 1rem 1rem 1rem 1rem;
}

.left {
    display:flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 40%;
}

.form-input {
    margin-bottom: 15px;
}

.form-input input[type="text"],
.form-input input[type="number"],
.form-input textarea,
.form-input select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.form-input textarea {
    height: 338px;
    resize: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-image {
    width: 100%;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 3.7rem;
    padding: 0;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 1rem;
    width: 50%;
}

.right-row1,.right-row2 {
    display: flex;
    flex-direction: column;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 3px 0 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

input[type="file"] {
    display: none;
}

.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    width: 240px;
    height: calc(240px * 9 / 16);
    overflow: hidden;
    position: relative;
}

.image-preview img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-upload {
    margin-top: 1rem;
    width: 240px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.close {
    float: right;
    margin-right: 1rem;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 900px) {
    .navtop div {
        flex-direction: column;
    }
    .navtop div a {
        padding: 10px;
        margin: 5px 0;
    }
    .form-main {
        flex-direction: column;
    }
    .left, .right {
        min-width: 100%;
        padding: 5px;
    }
    .right-row1, .right-row2 {
        flex-direction: column;
    }

    .image-preview {
        width: 370px;
        height: calc(370px * 9 / 16);

    }

    .photo-upload {
        width: auto;
    }


}

@media (max-width: 780px) {

    .right {
        flex-direction: column;
    }

    .image-preview {
        width: 100%; /* Make the image preview take the full width of its container */
        height: 150px; /* Maintain aspect ratio */
    }

    .photo-upload {
        width: auto;
    }
}